header {
  background-color: red;
  padding: 2px 5px;
  display: flex;
  justify-content: center;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

header h1 {
  animation: pulse 2s infinite;
}

.icon-lock {
  width: 80px;
  height: auto;
}


body {
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
}

p, ol {
  margin: 20px auto;
  max-width: 600px;
  line-height: 1.5;
}

.icon {
  display: flex;
  justify-content: center;
  padding: 2%;
}

strong { 
  color: red;
}


form {
  display: flex;
  justify-content: right;
  flex-direction: column;
  align-items: right;
  /* background-color: brown; */
  gap: 05px;}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

main, form {
  padding: 20px;
  margin: 10px;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 1.4rem;
  }
  main {
    gap: 15px;
  }
  form {
    width: 90%;
  }
}


a {
  color: #00ffff !important;
  animation: pulse 2s infinite;
  text-decoration: none;
}
a:hover {
  color: #ff3333; 
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  padding: 10px 0;
}

#restoreBtn:hover {
  background-color: crimson;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

p {
  font-family: monospace;
}
